.RVSPBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.66rem 0;
  background: #ebd7d5;
  text-align: center;
  z-index: 1;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  animation: fade-in 1s 1.5s 1 both;

  a {
    display: inline-block;
    padding: 0.66rem 1rem;
    border: 1px solid;
    border-radius: 90px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    background-color: #FEFAF8;
  }
} 

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18vh var(--side-padding) 12vh;

  @media screen and (max-width: 1000px) {
    padding: 14vh var(--side-padding) 8vh;
  }

  h1 {
    margin-top: .8rem;
    margin-bottom: .8rem;
    font-size: 1rem;
  }

  .HeroContent {
    mix-blend-mode: multiply;
  }

  svg {
    width: 55vw;
    max-width: 450px;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
  }

  .Date {
    margin-top: 3rem;
    margin-bottom: 0.15rem;
    text-transform: uppercase;
    font-family: Lexend;
  }

  p {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
  }

  .Floral1Animation {
    margin-top: 1rem;
    max-width: 100px;
    height: auto;
  }
}

.NowAndThen {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 var(--side-padding);
  position: relative;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      width: 50%;
      height: auto;
    }

    > img:first-of-type {
      border-radius: 2px 0 0 2px;
    }

    > img:last-of-type {
      border-radius: 2px;
    }
  }

  .Floral {
    position: absolute;
    width: 100px;
    height: auto;
    right: -10vw;
    display: none;
  }
}

.MainInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 40rem;
  margin: 5rem auto 3rem;
  gap: 5rem;
  padding: 0 var(--side-padding);
  position: relative;

  .Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    svg {
      margin-bottom: 0.25rem;
    }
  }

  .Floral1 {
    position: absolute;
    width: 150px;
    top: 8rem;
    height: auto;
    left: calc(-100px - 8rem);
  }

  .Floral2 {
    position: absolute;
    width: 80px;
    height: auto;
    top: -4rem;
    left: calc(100% + 8rem);
  }
  
  a {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    border: solid 1px;
    border-radius: 3px;
    background-color: white;
  }
}

.AccommodationDetails {
  display: flex;
  max-width: 62rem;
  margin: 0 auto;
  gap: 2rem;
  padding: 0 var(--side-padding);
  position: relative;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

  > div {
    flex: 1;
  }

  .Floral {
    position: absolute;
    width: 100px;
    height: auto;
    left: calc(-100px - 1.5rem);
    bottom: -100px;
    z-index: -1;
  }
}

.HorizontalPhotos {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  padding: 0 var(--side-padding);
  max-width: 62rem;

  img {
    width: 100%;
    height: auto;
    border-radius: 2px;
  }
}

.FAQ {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 var(--side-padding);

  svg {
    margin-bottom: 2rem;
    max-width: 100%;

    @media screen and (max-width: 1000px) {
      margin-bottom: 1rem;
    }
  }

  p + h3 {
    margin-top: 2rem;
  }
  
  b {
    font-weight:600;
  }
  
}

.Collage {
  margin-top: 5rem;
  padding: 0 var(--side-padding);
  position: relative;

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 2px;
  }
}

.FooterAnimation {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  mix-blend-mode: multiply;
  filter: contrast(110%);
}
