.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 0;

  .HeroContent {
    mix-blend-mode: multiply;
  }

  svg {
    width: 55vw;
  }

  .Date {
    margin-top: -2.5rem;
    text-transform: uppercase;
    font-family: Lexend;
  }

  .JoinUs {
    font-weight: 400;
  }

  p {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
  }

  .Floral1Animation {
    margin-top: 1rem;
    max-width: 100px;
    height: auto;
  }
}

.RVSPBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem 0;
  background: #ebd7d5;
  text-align: center;
  z-index: 1;

  a {
    display: inline-block;
    padding: 0.33rem 0.75rem;
    border: 2px solid;
    border-radius: 2px;
  }
}

.NowAndThen {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Collage img {
  max-width: 100%;
  height: auto;
}
