.TheMorningAfter {
  text-align: center;
  padding: 5rem;

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 2rem;
  }
  
  h1 {
    font-weight: 600;
    font-size: 2rem;
  }
 
  p {
    margin-bottom: 1rem;
    font-weight: 400;
  }

  a {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background: #ebd7d5;
    color: white;
    font-weight: 600;
    border-radius: 600px;
    border: 1px solid;
  }
}
