.TheMorningAfter {
  text-align: center;
  padding: 4.5rem;

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 2rem;
  }
  
  h1 {
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  h2 {
    font-weight: 500;
    font-size: 1.2rem;
  }
 
  p {
    margin-bottom: 1rem;
    font-weight: 400;
  }
  
  a {
    display: inline-block;
    color: #FEFAF6;
    padding: 1rem 1.25rem;
    border: 1px solid;
    border-radius: 90px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    background-color: #ebd7d5;
    box-shadow: 5px 5px;
  }
}
