.TheMorningAfter {
  text-align: center;
  padding: 5rem;

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 1rem;
  }

  a {
    display: inline-block;
    padding: 1rem;
    background: black;
    color: white;
    font-weight: 600;
    border-radius: 6px;
  }
}
